* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 90%;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbars {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  text-decoration: none;
}